<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Password=tztek0820.;User ID=sa;Initial Catalog=T23AD51;Data Source=192.168.51.6" />
		<add key="OldPath1" value="D:\FTP\FTP40Press" />
		<add key="NewPath1" value="D:\IMAGE\22OP040" />
		<add key="OldPath2" value="D:\FTP\FTP50Press" />
		<add key="NewPath2" value="D:\IMAGE\22OP045" />
		<add key="OldPath3" value="D:\FTP\FTP80Press" />
		<add key="NewPath3" value="D:\IMAGE\22OP050" />
		<add key="OldPath4" value="D:\FTP\FTP50Flatness" />
		<add key="NewPath4" value="D:\IMAGE\22OP045" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>