<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target xsi:type="File" name="infoFile" fileName="${basedir}/logs/${date:format=yyyyMMdd}/info.log"
		        layout="${longdate} ${logger} ${message}" />
		<target xsi:type="File" name="errorFile" fileName="${basedir}/logs/${date:format=yyyyMMdd}/error.log"
		        layout="${longdate} ${logger} ${message}" />
	</targets>
	<rules>
		<logger name="*" levels="Error" writeTo="errorFile" final="true" />
		<logger name="*" levels="Info" writeTo="infoFile" final="true" />
	</rules>
</nlog>
